{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword.first) }}
        {{ form_row(form.plainPassword.second) }}
        {{ form_row(form.firstname) }}
        {{ form_row(form.surname) }}
        
        <img src="{{ asset('uploads/users/avatars/') }}/{{ avatar }}">
        {{ form_row(form.avatar) }}

        <button type="submit">Update</button>
    {{ form_end(form) }}
{% endblock %}

{% block stylesheets %}{% endblock %}
